.dca {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
	background-color: #f8f9fa;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

	.greenText {
		color: green;
	}

	.redText {
		color: red;
	}
	.section {
		margin-bottom: 1.5rem;

		.MuiTypography-root {
			display: flex;
			align-items: center;
			color: #007bff;

			.MuiIconButton-root {
				margin-right: 0.5rem;
			}
		}
	}

	.tableContainer {
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
		background-color: #fff;
		margin-top: 1.5rem;
		overflow: scroll;
	}

	.tableHeader {
		background: #dee2e6;
		border-bottom: 1px solid #adb5bd;

		th {
			font-weight: bold;
			padding: 12px;
			text-align: left;
			color: #495057;
		}
	}

	.MuiOutlinedInput-root {
		fieldset {
			border: none;
		}
	}

	.MuiInputBase-input {
		color: #333;
		font-size: 16px;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #ced4da;
		background-color: #f5f5f5;
		transition: border-color 0.3s, background-color 0.3s;

		&:hover {
			background-color: #e8e8e8;
		}

		&:focus {
			border-color: #007bff;
			background-color: #fff;
		}
	}

	.MuiOutlinedInput-notchedOutline {
		border-color: #ddd;
	}

	.MuiOutlinedInput-adornedEnd {
		padding-right: 10px;
	}

	.resultTableCell {
		font-weight: bold;

		text-align: left;
		padding: 12px;
	}

	.resultTypography {
		font-size: 16px;
	}
}

.divider {
	margin: 20px 0;
	border-width: 1px;
	border-color: #ced4da;
}

.resultDivider {
	background-color: #007bff;
	height: 5px;
	margin-top: 10px;
}
